.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

.cards-showcase {
  list-style: none;
  width: 100%;
}

.cards-showcase li {
  display: block;
  float: left;
  width: 25%;
  overflow: hidden;
}

.photo {
  width: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
  background-color: #000000;
  /* border: 1px solid yellow; */
}

.compliment {
  position: absolute;
  width: 15%;
  margin: -20px 70px;
  background: transparent;
  transform: translateY(-50px);
  text-align: center;
}

.compliment h1 {color: #fff;
  transition: 0.5s;
  background: transparent;
  transform: translateY(-50px);
  opacity: 0;
  visibility: hidden;
}

li:hover .compliment h1 {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
  background: transparent;
}

.photo img {
  opacity: 1;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.photo img:hover {
  opacity: 0.5;
  transform: scale(1.03);
}

/* @media (min-width: 1281px) {
}

@media (min-width: 1025px) and (max-width: 1280px) {
}

@media (min-width: 768px) and (max-width: 1024px) {
} */

@media (min-width: 481px) and (max-width: 1024px) {
  /* .cards-showcase li {
    width: 49%;
  } */
}

@media (min-width: 320px) and (max-width: 480px) {
  .cards-showcase li {
    width: 100%;
  }
}
