/* CSS FOR THE MOBILE NAVBAR 
----------------------------------------------- */

.header,
.header .nav,
.header .nav .menu,
.header .nav .btn {
  display: flex;
}

.header {
  padding: 12px 0;
  position: absolute;
  width: 100%;
  z-index: 3;
  box-sizing: border-box;
  justify-content: center;
}

.cover {
  width: 100%;
  top: 0;
  height: 100%;
  background-color: #D5AF6D;
  position: absolute;
  z-index: -1;
}

.cover-show {
  opacity: 0;
}

.cover-hide{
  transition: all .7s;
  opacity: 0.7;
}

.header .nav {
  flex-direction: row;
  width: 75%;
  justify-content: space-between;
  align-items: center;
}

.header .nav .logo {
  cursor: pointer;
  width: 120px;
}

.header .nav .menu {
  width: 2.3rem;
  height: 1.7rem;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 650ms ease-out;
}

.header .nav .menu .bar {
  background: white;
  width: 100%;
  height: 4px;
  border-radius: .8rem;
}

.header .nav .menu .bar.half {
  width: 50%;
}

.header .nav .btn:hover {
  color: #D5AF6D;
}

@media screen and (max-width: 767px) {
  
  .header .nav {
    width: 85%;
  }

  .header .nav .logo {
    width: 90px;
  }

  .header .nav .menu {
    width: 2rem;
    height: 1.5rem;
  }
}
